<footer role="contentinfo" class="main-footer">
    <div class="content-center content-center--gutter">
        <div class="support">
            <div class="support__details">
                <p>If you found this website useful, please consider giving a small donation to support us and help us continue to make it even better</p>
            </div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="B2FAME29SU97Q">
                <input type="submit" name="submit" title="Donate with PayPal - The safer, easier way to pay online!" value="Donate" class="button"><img src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="" width="1" height="1">
            </form>
        </div>
        <div class="grid grid--bottomed">
            <div class="grid__item tablet-one-half">
                <p>&copy; @DateTime.Now.Year Destiny Daily</p>
                <p><small>Destiny is a registered trademark of Bungie.</small><br><small>All information used is the property of Bungie.</small></p>
            </div>
            <div class="grid__item tablet-one-half">
                <div class="credit">
                    <a href="https://avaclanche.uk/" target="_blank" class="credit__link">
                        <div aria-hidden="true" class="credit__logo icon icon--avalanche-uk"></div>
                        <div class="credit__details"><small>Proudly brought to you by</small><br><small>the Guardians at Avalanche UK</small></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
