
@{
    ViewBag.Title = "Sorry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align:center; width:100%;">
    <h2>Where is Xur?</h2>
    <br />
    <div>
        <p>Xur isn't around yet, he's gathering his supplies ready for his visit this weekend. Check back here between Friday and Saturday and see what Xur has.</p>
        <p>
            Alternatively follow <a href="http://www.twitter.com/destinydaily7">us</a> on Twitter and we'll notify you.
        </p>
    </div>
</div>
