@model bool
@{
    ViewBag.MetaTitle = "This week's events | Destiny Daily";
    ViewBag.MetaDescription = "A quick glance at this week's challenges within Destiny for those who can't play right now";
    ViewBag.CanonicalUrl = "http://www.destiny-daily.com/weekly";
}

<div class="heading">
    <h1 class="heading__title">This week's events</h1>
</div>
