@model bool

@{
    Layout = null;
    ViewBag.Title = "Nightfall";
}

<a id="weekly">
    <span class="is-vhidden">This weeks' events</span>
</a>
<section class="js-homepage-section">
    <div class="content-center content-center--gutter">
        <a href="/weekly" class="heading">
            <h2 class="heading__title">This weeks' events</h2>
        </a>
    </div>
    <template class="js-homepage-section-template">
    <div class="heading">
        <h1 class="heading__title">This week's events</h1>
    </div>
        <div class="activity activity--raid">
            <a id="weekly-raid" class="activity__anchor"></a>
            <div class="activity__header">
                <div class="content-center content-center--gutter">
                    <div aria-hidden="true" class="activity__icon">
                        <div class="icon icon--raid"></div>
                    </div>
                    <div class="activity__details">
                        <h2 class="activity__type">Weekly Raid</h2>
                        <p class="activity__name">Leviathan</p>
                        <p class="is-vhidden">Defy the Cabal Emperor in the Leviathan raid.</p>
                    </div>
                </div>
            </div>
            <div data-external-background-image="data-external-background-image" data-external-src="https://www.bungie.net/img/destiny_content/pgcr/raid_gluttony.jpg" class="activity__image"></div>
            <div class="activity__extras">
                <div class="content-center content-center--gutter">
                    <div class="grid grid--gutterless">
                        <div class="grid__item tablet-one-half">
                            <div class="activity__extra">
                                <h3 class="activity__subheading">Challenges</h3>
                                <ul>
                                    <li title="The Proving" class="skull">
                                        <div class="skull__details">
                                            <div class="skull__title">The Proving</div>
                                            <div class="skull__description">Complete every trial Calus has set before you.</div>
                                        </div>
                                    </li>
                                    <li title="The Labyrinth" class="skull">
                                        <div class="skull__details">
                                            <div class="skull__title">The Labyrinth</div>
                                            <div class="skull__description">Loot 3 of Calus's gifts in the underbelly of the Leviathan.</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid__item tablet-one-half">
                            <div class="activity__extra">
                                <h3 class="activity__subheading">Rewards</h3>
                                <ul>
                                    <li title="Powerful Gear" class="reward">
                                        <img data-external-image="data-external-image" data-external-src="https://www.bungie.net/common/destiny2_content/icons/350c8a864958c0d8af1344fd0cdc37ba.png" width="30" height="30" alt="Powerful Gear icon" class="reward__image" />
                                        <div class="reward__details">
                                            <div class="reward__title">Powerful Gear</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("Partials/BackToTop")
    </template>
</section>
