@model DestinyDaily2.Models.DailyModel

@{
    Layout = null;
 }

<a id="daily"><span class="is-vhidden">Today's events</span></a>
<section class="js-homepage-section">
    <div class="content-center content-center--gutter">
        <a href="/daily" class="heading">
            <h2 class="heading__title">Today's events</h2>
        </a>
    </div>
    <template class="js-homepage-section-template">
        <div class="heading">
            <h1 class="heading__title">Today's events</h1>
        </div>
        
        <div class="activity activity--vendor--bounty-tracker">
                <div class="activity__header">
                    <div class="content-center content-center--gutter">
                        <div class="activity__icon">
                            <div class="icon icon--vendor--bounty-tracker"></div>
                        </div>
                        <div class="activity__details">
                            <h2 class="activity__type">Daily bounties</h2>
                            <p class="activity__name">Bounty Tracker</p>
                            <p class="is-vhidden">When a Guardian's prowess in the field is required, bounties are posted here.</p>
                        </div>
                    </div>
                </div>
                <div class="activity__image"></div>
                <div class="activity__extras">
                    <div class="content-center content-center--gutter">
                        <div class="grid grid--gutterless">
                            <div class="grid__item fablet-one-half tablet-one-half">
                                <div class="activity__extra">
                                    <h3 class="activity__subheading">Vanguard</h3>
                                    <ul>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="grid__item fablet-one-half tablet-one-half">
                                <div class="activity__extra">
                                    <h3 class="activity__subheading">Crucible</h3>
                                    <ul>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        @Html.Partial("Partials/BackToTop")
    </template>
</section>

