<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TimeZoneDifference" value="-9" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="On" >
      <error statusCode="404" redirect="~/Error" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <staticContent></staticContent>
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="image/svg+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="image/svg+xml"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <rewrite>
      <rules>
        <rule name="PrisonOfEldersRedirect" stopProcessing="true">
          <match url="^PrisonOfElders$" />
          <action type="Redirect" redirectType="Permanent" url="/weekly#challenge-of-elders" />
        </rule>
        <rule name="HeroicRedirect" stopProcessing="true">
          <match url="^Heroic$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
      <rule name="XurRedirect" stopProcessing="true">
          <match url="^Xur$" />
          <action type="Redirect" redirectType="Permanent" url="/vendors#xur" />
        </rule>
          <rule name="ClanRedirect" stopProcessing="true">
          <match url="^Clan$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
          <rule name="FragmentRedirect" stopProcessing="true">
          <match url="^Fragment$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
          <rule name="Twitch" stopProcessing="true">
          <match url="^Twitch$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="WeeklyWeekly Redirect" stopProcessing="true">
          <match url="^Weekly/Weekly$" />
          <action type="Redirect" redirectType="Permanent" url="/weekly" />
        </rule>
        <rule name="WeeklyNightfallsRedirect" stopProcessing="true">
            <match url="^Weekly/Nightfall$" />
            <action type="Redirect" redirectType="Permanent" url="/nightfall" />
        </rule>
        <rule name="ClanGetRektRedirect" stopProcessing="true">
          <match url="^Clan/GetRekt$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="BountyPreviousRedirect" stopProcessing="true">
          <match url="^Bounty/Previous" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
         <rule name="DailyPreviousRedirect" stopProcessing="true">
          <match url="^Daily/Previous" />
          <action type="Redirect" redirectType="Permanent" url="Daily/" />
        </rule>
        <rule name="BountyYesterdayRedirect" stopProcessing="true">
          <match url="^Bounty/Yesterday" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
         <rule name="BountyEditRedirect" stopProcessing="true">
          <match url="^Bounty/Edit" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
       <rule name="NightfallSorryRedirect" stopProcessing="true">
          <match url="^Nightfall/Sorry" />
          <action type="Redirect" redirectType="Permanent" url="/nightfall" />
        </rule>
        <rule name="HistoryRedirect" stopProcessing="true">
          <match url="^History" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="DailyLoadLatestRedirect" stopProcessing="true">
          <match url="^Daily/LoadLatest" />
          <action type="Redirect" redirectType="Permanent" url="/daily" />
        </rule>
        <rule name="BountyLoadLatestRedirect" stopProcessing="true">
          <match url="^Bounty/LoadLatest" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="BountyRedirect" stopProcessing="true">
          <match url="^Bounty" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DestinySqlEntities" connectionString="metadata=res://*/DestinySqlModel.csdl|res://*/DestinySqlModel.ssdl|res://*/DestinySqlModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mattbeard1.database.windows.net,1433;initial catalog=DestinyDailyDev;persist security info=True;user id=Matt;password=PASSWORD1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DestinySqlEntities" connectionString="metadata=res://*/DestinySqlModel.csdl|res://*/DestinySqlModel.ssdl|res://*/DestinySqlModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mattbeard1.database.windows.net,1433;initial catalog=DestinyDaily;persist security info=True;user id=Matt;password=X0l0tlqp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
