
@{
    ViewBag.MetaTitle = "Destiny Daily - All Daily and Weekly activities in one place";
    ViewBag.MetaDescription = "The one website you need to visit to see all Daily and Weekly Destiny activities without even having to log in";
    ViewBag.CanonicalUrl = "http://www.destiny-daily.com/";
    ViewBag.HeaderTitle = "Destiny 2's daily events";
    ViewBag.HeaderContent = "A quick glance at today's challenges within Destiny 2 for those who can't play right now.";
    ViewBag.DestinyVersion = "d2";

}

<div style="display: none">@DateTime.Now</div>
<div class="prose content-center--centered">
    <p>Destiny Daily is still in it's early stages, but we wanted to release it as quickly as possible.</p>
    <p>New features still to come:</p>
    <p>Raid encounter order</p>
    <p>Meditations</p>
    <p>Flashpoint</p>
    <p>All challenges</p>
    <p>Treasure maps</p>
</div>
@Html.Action("Index", "Nightfall", new { noLayout = true })
@Html.Action("Index", "Vendors", new { noLayout = true })
@Html.Action("Index", "Weekly", new { noLayout = true })