@model DestinyDaily2.Models.FeaturedEventsDataModel
@{
    Layout = null;
}

<template class="js-homepage-featured-template">
    <div class="content-center content-center--gutter">
        <div class="heading">
            <h2 class="heading__title">Limited time events</h2>
        </div>
    </div>


    <div class="js-homepage-featured-container"></div>
    <div class="advert js-advert">
        <div class="content-center content-center--gutter"><ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins></div>
    </div>
    <a href="#top" data-scroll="top" class="divider">
        <div aria-hidden="true" class="divider__icon icon icon--waypoint"></div>
        <div class="divider__label">Back to top</div>
    </a>
</template>