@model DestinyDaily2.Models.FeaturedEventsDataModel
@{
    Layout = null;
}

<template class="js-homepage-featured-template">
    <div class="content-center content-center--gutter">
        <div class="heading">
            <h2 class="heading__title">Limited time events</h2>
        </div>
    </div>
    <div class="js-homepage-featured-container"></div>
    @Html.Partial("Partials/BackToTop")
</template>